In [1]:
from IPython.display import display
import numpy as np
import pandas as pd
import os
import pickle

In [2]:
path_input = '/home/narunlab/Documents/Alina/jj/'

with open(path_input+'retest_layer1_output.pkl', 'rb') as f:
    data = pickle.load(f)

In [4]:
for fir_reg in ['svr','rf','xgb', 'eNet']:
    for sec_reg in ['svr','rf','xgb', 'eNet']:
        print('\n\n##################fir_reg:',fir_reg,'     sec_reg:',sec_reg,'##################')
        for show_set in ['test1','test2']:
            print(show_set)
            stat = pd.DataFrame( columns=['r2', 'mse'])
            for smod in ['all', 'task', 'non-task', 'top-task']:
                stat.loc[smod] = [data[fir_reg][sec_reg][smod]['r2_'+show_set],
                                  data[fir_reg][sec_reg][smod]['mse_'+show_set]
                                                   ]
            display(stat)

##################fir_reg: svr      sec_reg: svr ##################
test1

                r2         mse
all       0.470895  112.200563
task      0.418248  123.364641
non-task  0.190014  171.763471
top-task  0.403793  126.430090

test2

                r2         mse
all       0.442365  105.662683
task      0.356650  121.904348
non-task  0.179050  155.556731
top-task  0.310414  130.665351

##################fir_reg: svr      sec_reg: rf ##################
test1

                r2         mse
all       0.456537  115.245299
task      0.408813  125.365470
non-task  0.231142  163.041855
top-task  0.366293  134.382269

test2

                r2         mse
all       0.354328  122.344337
task      0.255163  141.134494
non-task  0.191640  153.171004
top-task  0.240258  143.958779

##################fir_reg: svr      sec_reg: xgb ##################
test1

                r2         mse
all       0.433332  120.166162
task      0.373149  132.928257
non-task  0.155599  179.061380
top-task  0.358590  136.015570

test2

                r2         mse
all       0.355009  122.215275
task      0.257460  140.699178
non-task  0.072516  175.743090
top-task  0.196748  152.203197

##################fir_reg: svr      sec_reg: eNet ##################
test1

                r2         mse
all       0.471864  111.995022
task      0.426929  121.523892
non-task  0.186977  172.407520
top-task  0.410204  125.070464

test2

                r2         mse
all       0.453578  103.538153
task      0.377134  118.022947
non-task  0.173476  156.612755
top-task  0.332479  126.484311

##################fir_reg: rf      sec_reg: svr ##################
test1

                r2         mse
all       0.320939  143.999821
task      0.227500  163.814182
non-task  0.163408  177.405338
top-task  0.274179  153.915568

test2

                r2         mse
all       0.334133  126.170916
task      0.210500  149.597373
non-task  0.162333  158.724250
top-task  0.179618  155.449025

##################fir_reg: rf      sec_reg: rf ##################
test1

                r2         mse
all       0.302156  147.982936
task      0.226157  164.098955
non-task  0.191886  171.366421
top-task  0.242466  160.640644

test2

                r2         mse
all       0.336253  125.769245
task      0.228851  146.120174
non-task  0.202129  151.183568
top-task  0.171974  156.897546

##################fir_reg: rf      sec_reg: xgb ##################
test1

                r2         mse
all       0.342803  139.363431
task      0.276942  153.329744
non-task  0.156099  178.955351
top-task  0.252320  158.551003

test2

                r2         mse
all       0.350625  123.045916
task      0.234152  145.115647
non-task  0.172826  156.735956
top-task  0.177200  155.907164

##################fir_reg: rf      sec_reg: eNet ##################
test1

                r2         mse
all       0.331675  141.723121
task      0.235408  162.137320
non-task  0.175212  174.902313
top-task  0.257729  157.403930

test2

                r2         mse
all       0.362487  120.798409
task      0.240341  143.942941
non-task  0.200139  151.560557
top-task  0.201556  151.292227

##################fir_reg: xgb      sec_reg: svr ##################
test1

                r2         mse
all       0.395351  128.220267
task      0.337786  140.427247
non-task  0.190624  171.634013
top-task  0.342306  139.468679

test2

                r2         mse
all       0.348174  123.510384
task      0.257577  140.677070
non-task  0.243061  143.427663
top-task  0.250377  142.041445

##################fir_reg: xgb      sec_reg: rf ##################
test1

                r2         mse
all       0.308327  146.674257
task      0.230046  163.274329
non-task  0.157326  178.695225
top-task  0.291961  150.144819

test2

                r2         mse
all       0.333218  126.344396
task      0.234492  145.051395
non-task  0.120459  166.658691
top-task  0.246643  142.748901

##################fir_reg: xgb      sec_reg: xgb ##################
test1

                r2         mse
all       0.350172  137.800794
task      0.269235  154.963984
non-task  0.182032  173.455998
top-task  0.293321  149.856358

test2

                r2         mse
all       0.449896  104.235686
task      0.279256  136.569177
non-task  0.112335  168.198105
top-task  0.292351  134.088049

##################fir_reg: xgb      sec_reg: eNet ##################
test1

                r2         mse
all       0.417383  123.548082
task      0.334425  141.140080
non-task  0.189211  171.933654
top-task  0.358406  136.054706

test2

                r2         mse
all       0.386955  116.162008
task      0.262753  139.696297
non-task  0.226868  146.495986
top-task  0.262305  139.781256

##################fir_reg: eNet      sec_reg: svr ##################
test1

                r2         mse
all       0.436556  119.482334
task      0.308420  146.654614
non-task  0.259717  156.982369
top-task  0.285657  151.481522

test2

                r2         mse
all       0.460214  102.280674
task      0.300997  132.449673
non-task  0.235085  144.938860
top-task  0.252517  141.635805

##################fir_reg: eNet      sec_reg: rf ##################
test1

                r2         mse
all       0.341233  139.696393
task      0.225011  164.342086
non-task  0.184743  172.881246
top-task  0.267996  155.226744

test2

                r2         mse
all       0.330253  126.906072
task      0.220607  147.682214
non-task  0.142524  162.477762
top-task  0.236728  144.627712

##################fir_reg: eNet      sec_reg: xgb ##################
test1

                r2         mse
all       0.357314  136.286206
task      0.261682  156.565659
non-task  0.167453  176.547676
top-task  0.272099  154.356659

test2

                r2         mse
all       0.348831  123.385932
task      0.232397  145.448302
non-task  0.029298  183.932277
top-task  0.283179  135.826005

##################fir_reg: eNet      sec_reg: eNet ##################
test1

                r2         mse
all       0.436471  119.500474
task      0.306198  147.125642
non-task  0.284205  151.789503
top-task  0.288870  150.800375

test2

                r2         mse
all       0.466558  101.078546
task      0.315139  129.769934
non-task  0.259405  140.330769
top-task  0.257263  140.736486

# To get the predictions

The data is stored in a 4 layer dictionary: 
- fir_reg: the algorithm used on the first layer
- sec_reg: the algorithm used on the second layer
- smod: the stacked-modalities you want to see

you can get the predicted value directly using:
- data[fir_reg][sec_reg][smod]['pred_test1']
- data[fir_reg][sec_reg][smod]['pred_test2']

In [5]:
data['eNet'].keys()#['svr']['task']['pred_test1']

dict_keys(['wm', 'lan', 'rel', 'mot', 'emo', 'soc', 'gam', 'rest-pca75', 'surf', 'VolBrain', 'subc', 'cort'])

In [6]:
data['eNet']['wm'].keys()

dict_keys(['best_para', 'train1_r2', 'train1_mse', 'train1_pred', 'train2_r2', 'train2_mse', 'train2_pred', 'test1_r2', 'test1_mse', 'test1_pred', 'test2_r2', 'test2_mse', 'test2_pred'])

In [16]:
"""df = {}
mdl = ['svr','rf','xgb', 'eNet']
for m in mdl:
    for  n in mdl:
        for i in ['all', 'task', 'non-task']:
            for j in ['pred_test1', 'pred_test2']:
                df[m+'-'+n+'_'+i+'_'+j] = data[m][n][i][j]"""

In [7]:
df = {}
mdl = ['svr','rf','xgb', 'eNet']
for m in mdl:
    for  n in data[m].keys():
        for j in ['test1_pred', 'test2_pred']:
            df[m+'_'+n+'_'+j] = data[m][n][j]

In [8]:
pd.DataFrame(df)

,svr_wm_test1_pred,svr_wm_test2_pred,svr_lan_test1_pred,svr_lan_test2_pred,svr_rel_test1_pred,svr_rel_test2_pred,svr_mot_test1_pred,svr_mot_test2_pred,svr_emo_test1_pred,svr_emo_test2_pred,...,eNet_rest-pca75_test1_pred,eNet_rest-pca75_test2_pred,eNet_surf_test1_pred,eNet_surf_test2_pred,eNet_VolBrain_test1_pred,eNet_VolBrain_test2_pred,eNet_subc_test1_pred,eNet_subc_test2_pred,eNet_cort_test1_pred,eNet_cort_test2_pred
0,5.542260,0.718780,5.928295,0.055491,5.854158,5.038614,2.576337,4.695543,-1.872686,-0.726302,...,-1.150873,0.310391,-0.686667,0.343765,1.120595,1.591203,-1.304876,-1.926696,-1.660517,-1.747739
1,4.946773,10.398710,-9.907963,1.280618,5.555991,-0.393527,0.782760,-5.582811,-0.838466,-0.517411,...,6.093838,3.163335,4.088974,4.164625,2.522010,1.613573,0.614004,1.938819,0.424367,1.813267
2,4.897314,17.053473,5.462222,-1.070168,11.796061,7.665371,2.252969,3.346266,1.897183,2.219144,...,4.948239,6.541725,7.620708,8.333019,3.429018,3.707959,0.670568,0.669649,-1.480398,-0.110097
3,-0.128991,1.437683,-2.815121,-6.647118,-1.662197,-0.021624,2.677290,3.281232,-1.246155,-2.968779,...,-0.503179,-2.797996,-3.901543,-3.743038,-1.425127,-1.872363,2.609199,0.431292,-0.215830,0.691892
4,-7.183628,4.913136,-0.434407,-3.846133,-2.918463,-6.241445,-4.333995,-5.031698,1.103196,0.753402,...,-2.206968,-3.695198,-1.766552,-0.855593,-0.498068,-0.402949,1.093341,-1.097979,-0.909411,0.017198
5,-8.703359,-18.682490,-5.912346,-3.891785,-7.642024,-9.337919,-4.179336,-7.013315,2.382945,-2.015863,...,-3.168907,3.012706,0.703634,-0.321301,-1.174110,-1.293618,-4.289819,-4.776287,2.081745,1.473987
6,-1.117970,0.754014,-9.229520,-15.816659,1.387864,3.969413,0.138186,-1.526305,-3.552667,-4.269022,...,-1.045494,3.160636,-4.280152,-4.406359,-0.920555,-0.923382,1.183049,-1.033106,-0.592705,-0.048029
7,6.580007,3.269047,10.146768,16.861664,-3.610281,-5.401099,3.673127,-4.694930,-0.836340,-0.378485,...,4.875805,3.592207,-4.725897,-4.211908,-3.739691,-3.306073,-2.557876,-4.174486,-1.183519,-0.422700
8,-1.924738,3.411175,-5.222671,-3.516260,-3.418474,-6.093482,-3.426709,-5.318711,-1.650471,-0.993320,...,5.086664,11.036476,3.647466,4.080403,2.729372,2.505611,2.559332,1.346248,1.074738,0.492830
9,0.114735,5.892286,-9.284901,-4.601507,2.543871,-4.104946,-4.873918,1.561074,-0.875618,1.287391,...,-2.845963,-4.447640,-2.327841,-2.557493,0.612792,1.101280,-3.338066,0.434153,-4.414200,-3.378433
10,0.830071,-3.722310,-0.226183,-8.373057,-6.395188,-3.066199,-6.616635,-0.932522,-1.436552,0.551888,...,-3.350407,-1.231956,-3.277251,-3.733656,-0.829845,-0.757942,0.441330,1.103656,-1.195745,-1.881451
11,9.412835,4.093213,-0.065620,10.668878,-3.591089,5.437875,0.908195,4.085338,-2.448897,0.012064,...,-4.285968,-3.146853,-0.052630,-0.475950,-1.544471,-0.975105,1.009920,0.848712,-0.535777,-0.687050
12,-7.780387,3.173468,-10.961853,0.218787,-5.748579,-1.031010,-3.283527,-1.308510,-1.206964,-1.252385,...,-2.540856,-5.342499,-5.260217,-6.263682,-2.798860,-2.173253,-2.574358,-2.671757,3.139644,3.118057
13,-4.856913,-19.712587,3.607363,1.317657,-5.346265,3.047574,1.995856,-2.372290,-1.301126,-2.024209,...,-1.024595,4.313174,2.263278,1.791857,0.577692,0.293030,-0.207297,2.051313,0.206560,0.440909
14,7.420157,-3.004981,3.636118,11.210245,0.905878,0.872711,1.375292,5.290012,3.861786,3.963988,...,2.967644,2.878587,1.450002,1.128719,2.970611,3.415182,5.400856,5.709932,1.648321,1.642672
15,-3.276904,-6.068923,0.319417,-4.020812,-4.001888,-4.566672,-6.638934,-4.687365,-7.435529,-2.922394,...,-5.191599,0.684297,-6.034558,-6.365275,-6.478667,-6.486097,-9.018128,-8.493614,-0.708764,-0.620293
16,3.611340,-0.215223,3.057948,5.719274,9.354063,-4.530180,4.564391,5.852111,3.804929,-1.567201,...,2.186959,-1.989108,6.934051,6.856136,2.752307,2.578560,4.598884,0.861201,0.883005,0.540691
17,-11.232178,1.800768,3.070140,3.401035,-4.992319,-6.223499,2.462335,4.334310,2.542440,-0.974376,...,6.104932,4.466650,3.500935,4.030807,4.767890,4.856857,5.766063,6.093150,3.448812,2.175314
18,-10.480166,-12.238780,-4.167947,-1.691301,-1.566941,-5.905322,-4.582281,-3.756251,-0.391681,1.506210,...,6.997748,-2.247615,4.314031,5.120345,-0.713663,-1.043410,-1.681051,-1.685223,1.509975,0.957708
19,-12.045901,-17.644164,-2.783653,1.439329,-6.426253,-6.176877,-6.498452,-10.561697,-1.489019,-0.384665,...,-1.326459,-4.865724,-3.559980,-3.790133,-8.371193,-7.920085,-9.541649,-9.885730,1.441221,0.728957
20,3.178349,5.538781,-9.328402,-7.320304,-0.408770,5.375644,3.835046,0.228711,2.356940,-2.489972,...,-5.050487,-4.356716,-2.489169,-1.526727,-4.844161,-4.861018,-1.748425,-2.572550,2.398063,2.603629
21,13.561986,4.332071,8.292154,-4.096033,8.221446,-0.625849,-4.075539,4.650339,1.040997,8.876695,...,6.143898,2.824321,4.596253,4.263621,3.769995,4.414357,4.666109,3.826655,1.710613,1.140562
22,-1.551148,-3.645023,-4.422075,1.025382,3.044105,6.408013,-2.348273,-2.709952,-0.991520,-8.929119,...,-0.922319,3.888324,0.131557,1.770510,7.698114,8.027118,3.274917,0.892154,2.000040,1.970328
23,-1.366864,-2.984370,5.239629,3.491518,12.146536,-0.038174,2.041852,-2.260422,1.174385,-1.539597,...,-8.620693,-7.444733,-0.855501,-0.841350,-9.159571,-9.232353,-4.945295,-5.349633,-0.941413,-1.442573
24,0.444252,-5.159213,-0.295264,-4.985332,4.437348,4.515187,-2.589805,3.338431,-2.271511,-0.779119,...,1.080746,-0.310637,0.142005,-0.948298,3.184973,3.285886,6.499337,8.388593,3.347304,0.490457
25,-8.509114,-9.761469,-9.904793,-12.748541,-10.818640,0.788773,3.179667,-1.870961,0.936393,2.431214,...,-1.169979,4.606049,4.000490,2.223948,3.885595,3.394539,7.921194,9.045149,-3.164218,-3.173662
26,0.869369,11.827562,3.098448,3.985787,-4.030598,-0.148920,-4.889815,-5.345975,11.962803,8.181177,...,-6.656521,0.272676,-4.360312,-3.664538,-4.641083,-4.768332,-3.893060,-4.304533,-4.382077,-4.670002
27,-12.000357,-10.938828,6.233648,-2.751713,9.313562,0.003682,-9.031814,-0.840258,-2.008717,-1.993235,...,-7.420087,-1.826216,-3.655110,-3.951627,-4.550057,-4.518728,-3.692316,-3.018249,-1.497233,-0.760682
28,-1.711401,2.792650,3.881987,10.504006,6.482876,0.836480,5.612635,1.853561,0.937428,1.267393,...,-0.856439,-1.460318,4.353338,5.878758,3.543661,3.350592,0.785562,1.216556,0.967869,-0.299498
29,-3.832501,-5.107764,4.742075,-1.416455,-5.387271,-1.763153,0.755704,-0.973069,-1.822450,-3.452885,...,-0.940711,-7.691515,2.529269,2.103604,4.138443,4.166114,7.818816,7.426455,-0.034107,-0.449125
30,11.862614,7.537148,-8.981452,-5.263472,-6.403388,-0.941672,-3.233159,1.349565,-0.675526,0.257916,...,10.568507,0.673872,-2.362058,-2.631117,0.464306,0.349135,-3.097392,1.461977,-0.404260,0.821542
31,-1.130880,2.244191,7.443317,10.612534,-1.730925,-0.169473,-1.335861,3.498455,-1.210979,1.048162,...,1.423471,-2.722696,-1.882104,-3.138784,-3.012901,-3.027213,-5.739440,-2.885615,-1.895319,-0.232510
32,-2.431973,-5.121203,-1.507626,4.039299,-0.963170,-0.389590,-2.664726,-5.996086,-4.678919,-3.203346,...,-2.043139,-2.516632,2.025868,2.032240,6.380685,5.159875,1.633573,2.231470,0.662604,0.606390
33,0.728807,-0.948229,-2.795663,-8.711680,-2.588896,-1.770188,-2.891334,-0.424374,4.571020,-2.947622,...,3.843188,2.668626,-0.824314,-0.695529,0.153963,-0.248951,-0.917004,-2.101679,-1.729389,-1.802546

In [9]:
pd.DataFrame(df).to_csv('/home/narunlab/Documents/Alina/jj/pred_values_sing-mods_hcp_ya_retest.csv')