In [1]:
from IPython.display import display
import numpy as np
import pandas as pd
import os
import pickle

In [2]:
path_input = '/home/narunlab/Documents/Alina/jj/'

with open(path_input+'retest_layer2_output.pkl', 'rb') as f:
    data = pickle.load(f)

In [4]:
for fir_reg in ['svr','rf','xgb', 'eNet']:
    for sec_reg in ['svr','rf','xgb', 'eNet']:
        print('\n\n##################fir_reg:',fir_reg,'     sec_reg:',sec_reg,'##################')
        for show_set in ['test1','test2']:
            print(show_set)
            stat = pd.DataFrame( columns=['r2', 'mse'])
            for smod in ['all', 'task', 'non-task', 'top-task']:
                stat.loc[smod] = [data[fir_reg][sec_reg][smod]['r2_'+show_set],
                                  data[fir_reg][sec_reg][smod]['mse_'+show_set]
                                                   ]
            display(stat)

##################fir_reg: svr      sec_reg: svr ##################
test1

                r2         mse
all       0.470895  112.200563
task      0.418248  123.364641
non-task  0.190014  171.763471
top-task  0.403793  126.430090

test2

                r2         mse
all       0.442365  105.662683
task      0.356650  121.904348
non-task  0.179050  155.556731
top-task  0.310414  130.665351

##################fir_reg: svr      sec_reg: rf ##################
test1

                r2         mse
all       0.456537  115.245299
task      0.408813  125.365470
non-task  0.231142  163.041855
top-task  0.366293  134.382269

test2

                r2         mse
all       0.354328  122.344337
task      0.255163  141.134494
non-task  0.191640  153.171004
top-task  0.240258  143.958779

##################fir_reg: svr      sec_reg: xgb ##################
test1

                r2         mse
all       0.433332  120.166162
task      0.373149  132.928257
non-task  0.155599  179.061380
top-task  0.358590  136.015570

test2

                r2         mse
all       0.355009  122.215275
task      0.257460  140.699178
non-task  0.072516  175.743090
top-task  0.196748  152.203197

##################fir_reg: svr      sec_reg: eNet ##################
test1

                r2         mse
all       0.471864  111.995022
task      0.426929  121.523892
non-task  0.186977  172.407520
top-task  0.410204  125.070464

test2

                r2         mse
all       0.453578  103.538153
task      0.377134  118.022947
non-task  0.173476  156.612755
top-task  0.332479  126.484311

##################fir_reg: rf      sec_reg: svr ##################
test1

                r2         mse
all       0.320939  143.999821
task      0.227500  163.814182
non-task  0.163408  177.405338
top-task  0.274179  153.915568

test2

                r2         mse
all       0.334133  126.170916
task      0.210500  149.597373
non-task  0.162333  158.724250
top-task  0.179618  155.449025

##################fir_reg: rf      sec_reg: rf ##################
test1

                r2         mse
all       0.302156  147.982936
task      0.226157  164.098955
non-task  0.191886  171.366421
top-task  0.242466  160.640644

test2

                r2         mse
all       0.336253  125.769245
task      0.228851  146.120174
non-task  0.202129  151.183568
top-task  0.171974  156.897546

##################fir_reg: rf      sec_reg: xgb ##################
test1

                r2         mse
all       0.342803  139.363431
task      0.276942  153.329744
non-task  0.156099  178.955351
top-task  0.252320  158.551003

test2

                r2         mse
all       0.350625  123.045916
task      0.234152  145.115647
non-task  0.172826  156.735956
top-task  0.177200  155.907164

##################fir_reg: rf      sec_reg: eNet ##################
test1

                r2         mse
all       0.331675  141.723121
task      0.235408  162.137320
non-task  0.175212  174.902313
top-task  0.257729  157.403930

test2

                r2         mse
all       0.362487  120.798409
task      0.240341  143.942941
non-task  0.200139  151.560557
top-task  0.201556  151.292227

##################fir_reg: xgb      sec_reg: svr ##################
test1

                r2         mse
all       0.395351  128.220267
task      0.337786  140.427247
non-task  0.190624  171.634013
top-task  0.342306  139.468679

test2

                r2         mse
all       0.348174  123.510384
task      0.257577  140.677070
non-task  0.243061  143.427663
top-task  0.250377  142.041445

##################fir_reg: xgb      sec_reg: rf ##################
test1

                r2         mse
all       0.308327  146.674257
task      0.230046  163.274329
non-task  0.157326  178.695225
top-task  0.291961  150.144819

test2

                r2         mse
all       0.333218  126.344396
task      0.234492  145.051395
non-task  0.120459  166.658691
top-task  0.246643  142.748901

##################fir_reg: xgb      sec_reg: xgb ##################
test1

                r2         mse
all       0.350172  137.800794
task      0.269235  154.963984
non-task  0.182032  173.455998
top-task  0.293321  149.856358

test2

                r2         mse
all       0.449896  104.235686
task      0.279256  136.569177
non-task  0.112335  168.198105
top-task  0.292351  134.088049

##################fir_reg: xgb      sec_reg: eNet ##################
test1

                r2         mse
all       0.417383  123.548082
task      0.334425  141.140080
non-task  0.189211  171.933654
top-task  0.358406  136.054706

test2

                r2         mse
all       0.386955  116.162008
task      0.262753  139.696297
non-task  0.226868  146.495986
top-task  0.262305  139.781256

##################fir_reg: eNet      sec_reg: svr ##################
test1

                r2         mse
all       0.436556  119.482334
task      0.308420  146.654614
non-task  0.259717  156.982369
top-task  0.285657  151.481522

test2

                r2         mse
all       0.460214  102.280674
task      0.300997  132.449673
non-task  0.235085  144.938860
top-task  0.252517  141.635805

##################fir_reg: eNet      sec_reg: rf ##################
test1

                r2         mse
all       0.341233  139.696393
task      0.225011  164.342086
non-task  0.184743  172.881246
top-task  0.267996  155.226744

test2

                r2         mse
all       0.330253  126.906072
task      0.220607  147.682214
non-task  0.142524  162.477762
top-task  0.236728  144.627712

##################fir_reg: eNet      sec_reg: xgb ##################
test1

                r2         mse
all       0.357314  136.286206
task      0.261682  156.565659
non-task  0.167453  176.547676
top-task  0.272099  154.356659

test2

                r2         mse
all       0.348831  123.385932
task      0.232397  145.448302
non-task  0.029298  183.932277
top-task  0.283179  135.826005

##################fir_reg: eNet      sec_reg: eNet ##################
test1

                r2         mse
all       0.436471  119.500474
task      0.306198  147.125642
non-task  0.284205  151.789503
top-task  0.288870  150.800375

test2

                r2         mse
all       0.466558  101.078546
task      0.315139  129.769934
non-task  0.259405  140.330769
top-task  0.257263  140.736486

# To get the predictions

The data is stored in a 4 layer dictionary: 
- fir_reg: the algorithm used on the first layer
- sec_reg: the algorithm used on the second layer
- smod: the stacked-modalities you want to see

you can get the predicted value directly using:
- data[fir_reg][sec_reg][smod]['pred_test1']
- data[fir_reg][sec_reg][smod]['pred_test2']

In [8]:
data['eNet']['svr']['task']['pred_test1']

array([  7.72148548,  -0.94894846,  10.63894804,  -1.15101758,
        -3.49515525, -13.30187002,  -4.59844004,  12.76595774,
        -8.25301507,  -0.01725195,  -0.27989515,   6.33359288,
        -3.23841098,  -7.56720593,   9.76809972,  -5.55218267,
         2.02127262,  -6.78528713,  -8.68116124, -12.8899423 ,
         1.71155298,  12.2269193 ,  -4.543008  ,   1.15581014,
        -1.01324808, -12.55929365,   2.50276006,   1.20214074,
         1.42080668, -11.15576994,   4.74135505,  10.65325725,
        -5.89525567,  -2.04428964])

In [12]:
data['eNet']['svr'].keys()#['task']['pred_test1']

dict_keys(['all', 'task', 'non-task', 'top-task'])

In [6]:
#data['eNet']['wm'].keys()

dict_keys(['best_para', 'train1_r2', 'train1_mse', 'train1_pred', 'train2_r2', 'train2_mse', 'train2_pred', 'test1_r2', 'test1_mse', 'test1_pred', 'test2_r2', 'test2_mse', 'test2_pred'])

In [13]:
df = {}
mdl = ['svr','rf','xgb', 'eNet']
for m in mdl:
    for  n in mdl:
        for i in ['all', 'task', 'non-task', 'top-task']:
            for j in ['pred_test1', 'pred_test2']:
                df[m+'-'+n+'_'+i+'_'+j] = data[m][n][i][j]

In [9]:
"""df = {}
mdl = ['svr','rf','xgb', 'eNet']
for m in mdl:
    for  n in data[m].keys():
        for j in ['test1_pred', 'test2_pred']:
            df[m+'_'+n+'_'+j] = data[m][n][j]"""

In [15]:
pd.DataFrame(df)

,svr-svr_all_pred_test1,svr-svr_all_pred_test2,svr-svr_task_pred_test1,svr-svr_task_pred_test2,svr-svr_non-task_pred_test1,svr-svr_non-task_pred_test2,svr-svr_top-task_pred_test1,svr-svr_top-task_pred_test2,svr-rf_all_pred_test1,svr-rf_all_pred_test2,...,eNet-xgb_top-task_pred_test1,eNet-xgb_top-task_pred_test2,eNet-eNet_all_pred_test1,eNet-eNet_all_pred_test2,eNet-eNet_task_pred_test1,eNet-eNet_task_pred_test2,eNet-eNet_non-task_pred_test1,eNet-eNet_non-task_pred_test2,eNet-eNet_top-task_pred_test1,eNet-eNet_top-task_pred_test2
0,7.349628,3.361026,7.464157,2.803001,-0.828112,0.649842,8.626413,2.678080,7.671130,1.163722,...,9.526286,5.544402,6.165737,6.953592,7.928122,8.392924,-1.301913,0.437643,8.094802,6.687784
1,3.215974,7.773240,2.629542,5.898085,2.211774,3.098138,1.143683,7.180513,7.529169,6.949587,...,-2.156496,9.391778,3.242046,10.097405,-0.394449,8.446334,7.140803,4.820951,-1.653876,8.392946
2,11.944413,17.348907,9.545793,14.094616,3.702560,6.071641,10.224757,13.158493,10.753967,9.860625,...,8.378330,18.155842,12.864853,18.063498,10.597420,14.883796,8.144709,9.817231,10.061620,15.674177
3,-2.924133,-1.892647,-2.171222,-0.111347,-2.768505,-4.816237,-2.620505,-2.472900,-3.442523,-0.213610,...,-1.147051,-2.156496,-1.280182,-3.475957,-0.280235,-1.724587,-2.534108,-4.296577,-1.706681,-2.814187
4,-9.536467,-2.197246,-7.477587,-0.794414,-3.037685,-1.835163,-7.535465,-1.826585,-7.675758,-1.201248,...,-2.110147,1.835909,-3.755883,-4.140659,-2.525252,-3.395265,-2.742005,-3.444061,-1.746194,-1.890247
5,-11.706857,-18.230965,-11.999540,-19.235199,0.013799,2.014030,-13.745470,-20.235189,-11.020416,-11.471481,...,-8.824023,-27.959324,-11.155949,-14.569811,-11.139618,-18.088286,-2.169306,2.252056,-12.138514,-19.039746
6,-5.865568,-6.206022,-4.269711,-5.215637,-2.950008,-0.933171,-5.003542,-5.752119,-6.302628,-2.486379,...,-1.570875,-7.850219,-4.989984,-4.272780,-4.514641,-5.625615,-3.177624,0.142425,-1.766480,-4.755884
7,9.871069,4.924323,5.887230,2.883688,2.040030,-1.120892,6.174159,4.805818,5.259906,-3.129364,...,10.342043,10.342043,13.184948,14.343183,13.344276,15.109535,1.350007,0.596238,16.227679,17.727233
8,-5.784092,2.006913,-6.131347,-2.880050,1.098476,8.415879,-6.098524,-2.681237,-5.148633,1.430039,...,-6.456953,-2.156496,-3.194285,0.685816,-7.383313,-6.427290,6.088428,11.118444,-5.892960,-4.752873
9,-7.224357,-1.666474,-4.141643,1.385618,-1.733227,-3.408495,-3.514384,-0.335963,-6.611252,2.175465,...,-2.110147,2.272500,-1.171886,0.945231,0.785917,3.813508,-3.563088,-4.978869,1.140914,3.392916
10,-8.145433,-9.044258,-3.930621,-6.767725,-6.606291,-3.264416,-3.209919,-8.868302,-8.510999,-7.048473,...,-2.110147,4.458445,-1.610728,1.760267,0.626380,3.706369,-4.487523,-3.029688,-0.053018,2.771404
11,4.556644,7.399434,4.639888,7.366650,-1.333786,-3.516375,4.389363,8.878620,5.203925,5.499129,...,9.391778,7.053288,4.411871,5.515122,6.479612,8.587183,-3.481949,-2.795121,8.206309,7.285884
12,-14.383047,-3.800616,-11.929342,-0.243320,-5.558840,-7.934201,-14.565341,1.565332,-12.870485,0.127455,...,-5.212247,8.128200,-4.329259,3.458422,-2.625781,7.938242,-4.917174,-7.721970,-1.773874,10.709911
13,-3.633179,-10.500947,-4.844987,-12.447597,-0.375790,2.046382,-5.188554,-12.770727,-5.768079,-0.533178,...,-3.974807,-11.080864,-5.798017,-5.778979,-6.303097,-8.204016,0.409327,4.452796,-6.017776,-9.457691
14,7.347517,5.421114,6.370327,3.374569,1.619179,1.368704,6.837158,2.199070,8.251212,4.611802,...,7.309058,-0.601260,10.859076,3.646160,10.674699,3.157622,3.182177,2.935129,8.092891,0.099330
15,-7.116679,-7.353801,-6.586141,-8.842066,-6.610382,-3.418687,-4.771979,-9.278585,-7.968943,-8.418097,...,-1.147051,-7.798698,-7.647347,-8.408704,-5.217246,-8.567970,-7.475379,-2.921569,-2.419007,-8.571302
16,8.983692,1.724607,7.267114,0.547134,2.680178,1.749329,7.742942,-0.431762,7.525008,0.245707,...,-0.601260,-0.601260,4.902999,1.517574,3.066522,1.114840,5.545285,2.138088,2.500273,0.756307
17,-2.255952,2.324762,-7.161198,0.480379,7.369896,2.967576,-9.981929,-0.813565,2.361966,3.025602,...,-2.465919,-2.550730,-1.200735,2.683875,-4.966986,-0.547300,6.828906,5.798029,-5.803965,-0.437465
18,-5.869692,-9.542187,-10.612965,-12.484040,7.388947,3.938601,-11.117824,-13.395851,-4.049211,-6.845866,...,-8.321614,-2.949485,-2.113499,-3.374329,-6.561448,-3.815160,7.991881,0.982754,-9.923233,-4.508871
19,-9.573109,-14.206557,-13.089254,-15.500038,-2.837838,-6.012256,-14.038530,-15.723473,-12.144715,-11.813144,...,-13.184245,-15.436217,-10.947500,-16.838501,-11.134387,-16.108741,-3.011072,-5.988254,-11.135291,-13.695819
20,0.859894,1.469702,-0.310805,1.487015,-4.356861,-5.462682,-2.745847,2.803773,0.098572,2.216713,...,1.263057,4.721271,-0.415716,1.007788,2.789258,3.349585,-5.427309,-4.343222,0.042293,6.235997
21,13.631642,4.038251,12.610549,3.339036,2.330305,1.096025,14.537450,0.615814,9.736893,7.592328,...,11.065269,3.785378,14.767420,5.283309,12.377054,3.805639,7.457909,4.601818,12.654018,0.762265
22,-3.736336,-2.060464,-2.777014,-3.255036,-1.661251,1.959370,-2.073130,0.471924,-5.430108,-2.449039,...,-7.466397,-5.783888,-3.776130,-2.973606,-3.964134,-5.976863,-0.671341,4.098844,-3.988703,-3.246705
23,3.123410,-4.825162,4.697856,-3.038476,-5.590600,-4.961937,6.100157,-1.081291,-0.538376,-5.276584,...,-0.351124,3.785378,-2.855275,-0.173622,1.811957,4.010000,-7.412515,-6.457316,1.765740,2.745284
24,-0.324728,-4.777999,0.146639,-3.206461,0.632959,-0.561613,2.041012,-4.385320,-0.732214,-3.235227,...,-0.351124,-5.378520,-0.286539,-3.565680,-0.748276,-3.052173,0.948243,-0.767676,1.410140,-5.089685
25,-15.308461,-11.054630,-11.550003,-10.733888,-2.973017,3.419278,-17.045896,-13.558386,-8.195214,-6.177908,...,-9.833467,-9.331059,-9.020732,-5.620765,-10.568252,-8.684297,1.240018,4.924518,-12.755460,-11.944789
26,-0.579319,8.012431,1.191476,8.782458,-8.031057,-5.626694,-0.445177,9.122634,-2.956189,3.034976,...,6.116904,7.309058,-0.671613,5.115462,3.250609,6.258195,-7.742203,-1.779684,3.269972,6.820886
27,-6.822861,-8.513344,-6.019929,-9.440804,-5.911944,-3.305419,-2.412546,-9.973720,-7.712205,-5.508703,...,2.305718,-7.296290,-2.591547,-9.042785,2.231566,-8.443579,-7.972653,-3.627413,1.806700,-7.966559
28,5.155965,6.730368,3.683103,4.852802,1.917590,2.474151,3.127364,5.992691,6.774047,7.817235,...,0.796831,3.199756,2.296145,2.692234,2.628675,2.506191,1.685154,2.030878,0.450646,1.244224
29,-5.337197,-11.283612,-4.210407,-5.658613,-0.849490,-6.848275,-3.953224,-5.813697,-4.267214,-5.695766,...,-3.974807,-3.974807,-8.326104,-11.305271,-9.791917,-9.714859,0.622039,-5.049375,-7.707470,-7.397865
30,5.282715,3.406424,2.172314,2.940566,6.897077,1.144318,0.349190,2.150605,1.858233,6.411069,...,5.044974,6.619312,9.168446,6.163829,4.945368,7.352954,7.226374,-0.892601,4.508968,5.304025
31,2.146721,5.678254,0.982012,5.004562,-0.834682,-3.767873,1.004427,5.182624,2.415786,2.386751,...,9.328594,12.101065,9.515806,10.394093,11.033674,14.507030,0.120019,-3.906224,11.584527,14.114375
32,-5.612032,-4.599274,-4.582695,-4.743059,-1.215495,0.222874,-3.386122,-2.643704,-6.061646,-3.974626,...,-6.456953,-1.437081,-4.740695,-3.954570,-5.311399,-3.828317,-0.540853,-0.918872,-3.345915,-1.150876
33,-0.338839,-4.694610,-1.470420,-5.230151,1.001052,1.298401,-2.451764,-6.242328,0.202591,-2.725425,...,-1.147051,-2.156496,0.500256,-2.830841,-1.140680,-4.735627,2.646735,1.770648,-1.989073,-4.004387

In [16]:
pd.DataFrame(df).to_csv('/home/narunlab/Documents/Alina/jj/pred_values_stacked_hcp_ya_retest.csv')